.footer-custom {
  background-color: var(--dark-blue);
}

/* Logo rodapé */
.footer-logo {
  height: 80px;
  width: auto;

}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background-color: var(--primary-orange);
  border-color: var(--primary-orange);
  color: #fff;
}