<app-default-login-layout
  title="Redefinir sua Senha"
  description="Digite sua nova senha abaixo."
  primaryBtnText="Redefinir Senha"
  secondaryBtnText="Voltar ao Login"
  [disablePrimaryBtn]="!resetPasswordForm.valid"
  (submit)="onSubmit()"
  (navigate)="navigateToLogin()"
>
  <form [formGroup]="resetPasswordForm">
    <!-- Nova Senha -->
    <app-primary-input
      inputName="password"
      type="password"
      label="Nova Senha"
      placeholder="Digite sua nova senha"
      formControlName="password"
    >
      <img src="/assets/icons/passkey.svg"/>
    </app-primary-input>

    <!-- Confirmação da Nova Senha -->
    <app-primary-input
      inputName="passwordConfirm"
      type="password"
      label="Confirme a Nova Senha"
      placeholder="Repita sua nova senha"
      formControlName="passwordConfirm"
    >
      <img src="/assets/icons/passkey.svg"/>
    </app-primary-input>

    <!-- Mensagem de erro para senhas que não coincidem -->
    <div *ngIf="resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('passwordConfirm')?.touched" class="error-message">
      As senhas não coincidem.
    </div>
  </form>
</app-default-login-layout>
