
<section class="form-section">
<app-default-login-layout
  title="Esqueceu sua senha?"
  primaryBtnText="Enviar link de recuperação"
  secondaryBtnText="Voltar para o login"
  [disablePrimaryBtn]="forgotPasswordForm.invalid"
  (submit)="submit()"
  (navigate)="navigate()"
>
  <p class="description">
    Não se preocupe! Digite seu e-mail abaixo e enviaremos um link para você redefinir sua senha.
  </p>
  <form [formGroup]="forgotPasswordForm">
    <app-primary-input
      label="E-mail"
      inputName="email"
      placeholder="digite seu e-mail"
      type="email"
      formControlName="email"
    >
    <img src="/assets/icons/email.svg"/>
      </app-primary-input>
  </form>
</app-default-login-layout>
</section>

