<div class="profile-container">
  <div class="profile-picture-section">
    
    <label for="file-upload">
      <img [src]="profileImageUrl" alt="Foto do Perfil" class="profile-avatar">
      <div class="upload-btn">Alterar Foto</div>
    </label>

    <input id="file-upload" type="file" (change)="onFileSelected($event)" hidden>

  </div>

  <div class="profile-form-section">
    <h2>Meu Perfil</h2>
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
      
      <app-primary-input
        label="Nome Completo"
        formControlName="name"
        type="text"
        [readonly]="!isEditing">
      </app-primary-input>
      
      <app-primary-input
        label="Telefone"
        formControlName="phone"
        type="text"
        [readonly]="!isEditing">
      </app-primary-input>
      
      <app-primary-input
        label="Data de Nascimento"
        formControlName="dateOfBirth"
        type="date"
        [readonly]="!isEditing">
      </app-primary-input>
      
      <app-primary-input
        label="Email"
        formControlName="email"
        type="email"
        [readonly]="true"> 
      </app-primary-input>

      <div class="document-row">
        <select formControlName="documentType" [disabled]="!isEditing">
          <option value="cpf">CPF</option>
          <option value="passaport">Passaporte</option>
        </select>
        <app-primary-input
          class="document-number"
          formControlName="documentNumber"
          type="text"
          [readonly]="!isEditing">
        </app-primary-input>
      </div>

      <div class="buttons-wrapper">
        <a class="delete-link" (click)="deleteProfile()">Excluir Perfil</a>
        <div class="main-actions">
          <button type="button" class="btn-secondary" (click)="changePassword()">Definir nova senha</button>
          
          <button *ngIf="!isEditing" type="button" class="btn-primary" (click)="toggleEdit()">Editar Perfil</button>
          <button *ngIf="isEditing" type="submit" class="btn-primary" [disabled]="profileForm.invalid">Salvar Alterações</button>
          <button *ngIf="isEditing" type="button" class="btn-secondary" (click)="toggleEdit()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>