<div class="admin-panel-container">
  <aside class="sidebar">
    <h2 class="sidebar-title">Painel Administrativo</h2>
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a routerLink="dashboard" routerLinkActive="active-link">
           
            <img src="assets/icons/bar_chart.svg" alt="Dashboard Icon">Dashboard
          </a>
        </li>
        <li>
          <a routerLink="packages" routerLinkActive="active-link">
            
            <img src="assets/icons/pack.svg" alt="Pacotes Icon">Pacotes
          </a>
        </li>
        <li>
          <a routerLink="users" routerLinkActive="active-link">
            
            <img src="assets/icons/group_user.svg" alt="Usuários Icon">Usuários
          </a>
        </li>
        <li>
          <a routerLink="avaliacoes" routerLinkActive="active-link">
           
            <img src="assets/icons/chat_ava.svg" alt="Avaliações Icon">Avaliações
          </a>
        </li>
        <li>
          <a routerLink="relatorios" routerLinkActive="active-link">
           
            <img src="assets/icons/monitoring.svg" alt="Relatórios Icon">Relatórios
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>