<div class="header">
  <h1 class="text-center">Gestão de Pacotes de Viagem</h1>
  <div class="filter-container">
  <form [formGroup]="filterForm" class="filter-form">
    <div class="form-group">
      <input type="text" placeholder="Buscar por Título..." formControlName="source">
    </div>
    <div class="form-group">
      <input type="text" placeholder="Buscar por Destino..." formControlName="destination">
    </div>
    
    <div class="form-group">
      <button type="button" class="btn-secondary" (click)="clearFilters()">Limpar</button>
    </div>
  </form>
</div>
  
  <button class="btn-primary" (click)="openAddModal()">
    <i class="bi bi-plus-square"></i>Adicionar Pacote</button>
</div>

<div class="table-container">
  <div *ngIf="isLoading" class="loading-indicator">
    Carregando pacotes...
  </div>

  <table *ngIf="!isLoading">
    <thead>
      <tr>
        <th>Título</th>
        <th>Destino</th>
        <th>Valor</th>
        <th>Disponível</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pkg of paginatedResponse.content">
        <td>{{ pkg.title }}</td>
        <td>{{ pkg.destination }}</td>
        <td>{{ pkg.price | currency:'BRL' }}</td>
        <td>{{ pkg.available ? 'Sim' : 'Não' }}</td>
        <td class="actions text-center">
          
          <a [routerLink]="['/packages', pkg.id, 'admin']"><i class="bi bi-pencil-square"></i></a>
          <a (click)="handleDeletePackage(pkg.id!)"><i class="bi bi-trash"></i></a>
        </td>
      </tr>
      <tr *ngIf="paginatedResponse.content.length === 0">
          <td colspan="5" class="text-center text-muted py-4">Nenhum pacote encontrado.</td>
        </tr>
    </tbody>
  </table>
</div>

<div>
  <div *ngIf="!isLoading && paginatedResponse.totalPages > 1" class="pagination-container">
    
    <button 
      class="btn-pagination" 
      (click)="changePage(paginatedResponse.currentPage - 1)"
      [disabled]="paginatedResponse.currentPage === 0">
      Anterior
    </button>

    
    <button 
      *ngFor="let pageNum of getPageNumbers()" 
      class="btn-pagination"
      [class.active]="pageNum === paginatedResponse.currentPage"
      (click)="changePage(pageNum)">
      {{ pageNum + 1 }}
    </button>

    
    <button 
      class="btn-pagination" 
      (click)="changePage(paginatedResponse.currentPage + 1)"
      [disabled]="paginatedResponse.currentPage >= paginatedResponse.totalPages - 1">
      Próximo
    </button>
  </div>
</div>


<app-package-modal 
  *ngIf="isModalOpen" 
  [packageToEdit]="selectedPackageForEdit"
  (close)="handleModalClose($event)">
</app-package-modal>


