

@import 'ngx-toastr/toastr';


*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;

}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  

}



:root {
  --primary-orange: #FF7700;
  --dark-blue: #1F2937;
  --light-gray: #f8f9fa;
  --text-color: #4a4a4a;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-gray);
  color: var(--text-color);
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
