@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
  --primary-orange: #FF5615;
  --secondary-orange: #E02200;
  --primary-orange-rgb: 255, 119, 0; 
  --dark-blue: #1F2937;
  --light-gray: #f8f9fa;
  --text-color: #4a4a4a;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-gray);
  color: var(--text-color);
}

